.complete-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #0a1629;
  }
  
  
  .complete-image-group {
    position: relative;
    text-align: center;
  
  }
  
  .action-button-group {
    border-top: 1px solid #F2F2F2;
    padding: 25px !important;
  }