.container-profile {
    .MuiInputBase-input {
        width: 10% !important;
    }
    .MuiOutlinedInput-root {
        padding: 7 px !important;
        min-height: 42px !important;
        padding-left: 8px !important;
        padding-top: 2px !important;
        background: white;
    }
}
