.cancel-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #0a1629;
}

.comments-field {
  width: 100%;
  .MuiOutlinedInput-input {
    padding: 8px 4px !important;
  }
  .MuiOutlinedInput-multiline {
    padding: 12px 14px;
  }
}

.cancel-image-group {
  position: relative;
  text-align: center;

  .close-icon {
    position: absolute;
    bottom: -30px;
    right: 70px;
  }
}

.action-button-group {
  border-top: 1px solid #F2F2F2;
  padding: 25px !important;
}