.MuiSelect-select:focus {
    background-color: transparent !important;
}
.MuiAutocomplete-inputRoot {
    padding: 0px !important;
    min-height: 35px !important;
}
.MuiOutlinedInput-root{
    padding: 0px !important;
    min-height: 42px !important;
}